* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}
.hero {
  height: 60vh;
  background: url("hotel.avif") center/cover no-repeat;
}

.overlay {
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero-content h1 {
  font-size: clamp(2rem, 5vw, 3.2rem);
}

.hero-content span {
  color:  #d3062f;
}

.stars {
  color: #ff9f1c;
  margin-bottom: 10px;
}


.form-section {
  max-width: 1100px;
  margin: -80px auto 40px;
  padding: 20px;
}

form {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #d3062f;
}

.subtitle {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

h3 {
  margin: 25px 0 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  min-height: 90px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 15px;
  background:  #d3062f;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: gray;
  color: black;
}

.error {
  color: red;
  font-size: 12px;
}
@media (max-width: 600px) {
  .form-section {
    margin-top: -50px;
  }
}
